@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --bg-color:#282c34;
  --neon-color:#39ff14
}
html{
  font-size: 63.5%
}
body{
  background-color : #282c34;
}
/*==> {clock style start} */

.clock {
  height: 100vh;
  background-color : var(-bg);
  display:flex;
  justify-content: center;
  align-items: center;
}

.time {
  color: #39ff14;
  font-size: 6vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* {clock style end} <==*/

